<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.moge10086.website.mapper.UserQueryMapper">
    <select id="getBaseUsers" resultType="com.moge10086.website.domain.vo.user.BaseUserVO">
        select
        user_id as userId,
        user_name as userName,
        sign as sign,
        avatar_img as avatarImg,
        role as role
        from user_info
        where user_id in
        <!-- 加入-1是为了有物可查,否则传入为空将会sql错误 -->
        (-1
         <foreach collection="userIds" item="item" index="index"
                 open="," separator="," close="" nullable="true">
            #{item}
        </foreach>)
    </select>
</mapper>
